body {
  background: rgb(216, 211, 134);
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 2rem auto;
  max-width: 800px;
  border: solid rgb(139, 121, 74);
  border-radius: 30px;
  padding: 20px;
  background-color: blanchedalmond;
}
span {
  font-weight: bold;
}
.sel-op {
  border-radius: 8px;
  height: 30px;
}
